anypoint-project/src/main/mule/implementation/hospitals.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="postHospital" doc:id="1d58942c-149e-431f-99a5-22c5edb4387d" >
		<set-variable value="#[payload]" doc:name="Set payload to vars.request" doc:id="1ab5f77b-1f8d-42d1-991f-4a59e8876264" variableName="request"/>
		<choice doc:name="Choice payload.id is empty" doc:id="0a1ebb13-5966-47ea-a2b5-5bb969b1913f" >
			<when expression="#[!isEmpty(payload.id)]">
				<db:query-single doc:name="Select id from database" doc:id="380b4a07-2612-4ed8-b5b5-a55357e329a6" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT state_issued_id
FROM Patient
WHERE state_issued_id = :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	id: vars.request.id
}]]]></db:input-parameters>
		</db:query-single>
				<validation:is-true doc:name="id is unique" doc:id="9791a617-444e-405f-9fca-efdaedf24ad8" expression="#[sizeOf(payload) == 0]" message='#["Hospital with id: " ++ vars.request.id ++ " is already added"]'>
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:BAD_REQUEST" />
		</validation:is-true>
				<db:insert doc:name="Insert Hospital with id" doc:id="93b868f5-ed4d-469f-8d29-43bda9e02656" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO Hospital
VALUES(:id, :max_capacity, :facility_name)]]></db:sql>
			<db:input-parameters><![CDATA[#[output application/json
---
{
	max_capacity: vars.request.max_capacity,
	id: vars.request.id,
	facility_name: vars.request.facility_name
}]]]></db:input-parameters>
		</db:insert>
			</when>
			<otherwise >
				<db:insert doc:name="Insert Hospital without id" doc:id="3b47fe66-7c81-4d78-a1d9-deb3778ab146" config-ref="Database_Config" >
					<db:sql ><![CDATA[INSERT INTO Hospital
VALUES(default, :max_capacity, :facility_name)]]></db:sql>
					<db:input-parameters ><![CDATA[#[output application/json
---
{
	max_capacity: vars.request.max_capacity,
	facility_name: vars.request.facility_name
}]]]></db:input-parameters>
				</db:insert>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Status response" doc:id="3ec54e0b-ee6e-452c-bf5e-1ddf7652b3de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Hospital '" ++ vars.request.facility_name ++ "' added"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="post:\hospitals:application\json:coronais-api-config" />
	</flow>
	<flow name="getAllHospitals" doc:id="bb50d5c9-4410-495a-87d0-6e8e493fdb07" >
		<set-variable value="#[%dw 2.0&#10;output application/java&#10;---&#10;&quot;SELECT id, max_capacity, facility_name, (max_capacity - COUNT(PA.state_issued_id)) as 'available_space'&#10;FROM Hospital HO&#10;LEFT JOIN Patient PA ON PA.hospital_id = HO.id&#10;GROUP BY id, max_capacity, facility_name&#10;HAVING 1=1&quot; ++&#10;&#10;(if(attributes.queryParams.has_free_space ~= &quot;true&quot;)&#10;&quot; AND available_space &gt; 0&quot;&#10;else if(attributes.queryParams.has_free_space ~= &quot;false&quot;)&#10;&quot; AND available_space &lt; 1&quot;&#10;else &quot;&quot;&#10;)]" doc:name="Set SQL query to vars.dbQuery" doc:id="f49ee1ca-8162-41ca-84c1-10ccc3a9ee44" variableName="dbQuery" />
		<db:select doc:name="SELECT ALL Hospitals from database" doc:id="9a581d14-7e2b-4042-a91b-68cb229504f2" config-ref="Database_Config">
			<db:sql ><![CDATA[#[vars.dbQuery]]]></db:sql>
		</db:select>
		<validation:is-not-empty-collection doc:name="payload is not empty collection" doc:id="3779a617-a06e-4b95-8c93-51af9e95c652" message="Hospitals not found">
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:NOT_FOUND" />
		</validation:is-not-empty-collection>
		<ee:transform doc:name="Transform all Hospitals to datatype array" doc:id="f90ab630-ba68-49e6-a0f2-43a98c59158e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	max_capacity: payload01.max_capacity default 0,
	avalable_space: payload01.available_space,
	facility_name: payload01.facility_name default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\hospitals:coronais-api-config" />
	</flow>
	<flow name="getHospitalById" doc:id="544ffec5-9b68-40ae-8d6f-5d6c210070fa" >
		<db:query-single doc:name="SELECT Hospital from database" doc:id="45009f17-d5f2-47c6-9394-18bb2a81ad29" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT HO.id, HO.max_capacity, HO.facility_name, (HO.max_capacity - COUNT(PA.state_issued_id)) as 'available_space'
FROM Hospital HO
LEFT JOIN Patient PA ON PA.hospital_id = HO.id
WHERE id = :id
GROUP BY id, max_capacity, facility_name]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.uriParams.id
}]]]></db:input-parameters>
		</db:query-single>
		<validation:is-not-null doc:name="payload Id Is not null" doc:id="808ebb7a-dff6-4435-861b-380aacd04ced" value="#[payload.id]" message="Hospital does not exist">
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:NOT_FOUND" />
		</validation:is-not-null>
		<ee:transform doc:name="Transform Hospital to datatype" doc:id="d7d58bfc-3e2c-466c-856a-e53ea39172e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.id,
	max_capacity: payload.max_capacity default 0,
	avalable_space: payload.available_space default 0,
	facility_name: payload.facility_name default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\hospitals\(id):coronais-api-config" />
	</flow>
	<flow name="deleteHospitalById" doc:id="d42185b0-74cf-408a-893f-b9dc2827789c" >
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set URI id to vars.hospitalId" doc:id="810a9235-1646-47d0-ad34-05defa9d6088" variableName="hospitalId"/>
		<db:query-single doc:name="SELECT Hospital from database" doc:id="684a4f4a-f29b-4a78-825f-0327f62493bd" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT id
FROM Hospital
WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.hospitalId
}]]]></db:input-parameters>
		</db:query-single>
		<validation:is-not-null doc:name="payload Id is not null" doc:id="3876a9fb-2a04-498a-9efe-2c19139cae4b" value="#[payload.id]" message="Hospital does not exist">
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:NOT_FOUND" />
		</validation:is-not-null>
		<db:delete doc:name="Delete Hospital" doc:id="4d76099b-bb7f-425c-a927-5ddc4ccc1cf5" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM Hospital
WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.hospitalId
}]]]></db:input-parameters>
		</db:delete>
		<logger level="INFO" message="delete:\hospitals\(id):coronais-api-config" />
	</flow>
	<flow name="assignHospital" doc:id="637afba8-ad5c-45c0-8f6c-4a7251e4e843" >
		<db:query-single doc:name="SELECT optimal hospital from database" doc:id="efd5ffd2-cf68-4992-90fc-e9cf378e9b32" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT id, max_capacity, facility_name, (max_capacity - COUNT(PA.state_issued_id)) as 'available_space'
FROM Hospital HO
LEFT JOIN Patient PA ON PA.hospital_id = HO.id
GROUP BY id, max_capacity, facility_name
ORDER BY available_space desc
LIMIT 1]]></db:sql>
		</db:query-single>
		<ee:transform doc:name="Transform hospital to datatype" doc:id="a8294d8b-2456-4e9e-b75d-679c1d7c2c54" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(!isEmpty(payload) and payload.id != 0 and payload.available_space > 0)
payload.id
else null]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getHospitaData" doc:id="c7ed6c4f-f6d4-4cd9-89c2-1a5976682e8f" >
		<db:query-single doc:name="SELECT hospital from database" doc:id="a9627b95-20f4-41d3-878b-f2bb6830b7a8" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT id, max_capacity, facility_name, (max_capacity - COUNT(PA.state_issued_id)) as 'available_space'
FROM Hospital HO
JOIN Patient PA ON PA.hospital_id = HO.id
WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: payload
}]]]></db:input-parameters>
		</db:query-single>
		<ee:transform doc:name="Transform hospital to datatype" doc:id="7368542f-9cab-4a9d-bbee-857adebf0854" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.id default 0,
	avalable_space: payload.available_space,
	max_capacity: payload.max_capacity default 0,
	facility_name: payload.facility_name default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
