anypoint-project/src/main/mule/automated.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:gmail="http://www.mulesoft.org/schema/mule/gmail" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/gmail http://www.mulesoft.org/schema/mule/gmail/current/mule-gmail.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
		<flow name="reportDailyStatsEmail" doc:id="22e83ae9-710b-4e81-8501-21cab871df96" >
		<scheduler doc:name="Every day at 14:45" doc:id="1c5c107b-07cf-44e7-978e-8995a85b5354" >
			<scheduling-strategy >
				<cron expression="0 45 14 1/1 * ? *" timeZone="Europe/Belgrade" />
			</scheduling-strategy>
		</scheduler>
		<db:query-single doc:name="SELECT Patients [in isolation]" doc:id="e7b1cee0-554b-4a10-a964-132f1814f63f" config-ref="Database_Config" target="inIsolation" targetValue="#[payload.in_isolation]">
			<db:sql ><![CDATA[SELECT COUNT(state_issued_id) as "in_isolation"
FROM Patient
WHERE state_issued_id NOT IN (SELECT PH.state_issued_id FROM PatientHistory PH);]]></db:sql>
		</db:query-single>
		<db:query-single doc:name="SELECT Patients [out of isolation]" doc:id="f9252f4e-12e1-444c-a4a9-8a7c6c8b7408" config-ref="Database_Config" target="outOfIsolation" targetValue="#[payload.out_of_isolation]">
			<db:sql ><![CDATA[SELECT COUNT(DISTINCT state_issued_id) as 'out_of_isolation'
FROM PatientHistory
WHERE state_issued_id NOT IN (SELECT PA.state_issued_id FROM Patient PA);]]></db:sql>
		</db:query-single>
		<db:query-single doc:name="SELECT Hospital count" doc:id="189425e7-8740-40be-ae60-1aa8c97244de" config-ref="Database_Config" target="hospitalNumber" targetValue="#[payload.hospital_count]">
			<db:sql><![CDATA[SELECT COUNT(id) as 'hospital_count'
FROM Hospital]]></db:sql>
		</db:query-single>
		<db:query-single doc:name="SELECT Patient [has symptoms]" doc:id="e1b10c00-b8af-4d17-9554-a7f512c95fc6" config-ref="Database_Config" target="hasSymptoms" targetValue="#[payload.has_symptoms]">
			<db:sql><![CDATA[SELECT COUNT(state_issued_id) as has_symptoms
FROM Patient
WHERE has_symptoms = 1]]></db:sql>
		</db:query-single>
		<parse-template doc:name="Parse email Template" doc:id="c45ec0e7-1111-4579-baf6-2a42dfaf7d31" location="statusEmail_template.html"/>
		<email:send doc:name="SMTP SEND Daily Report" doc:id="58c742bb-62a6-4132-9a26-99de3fe1ffe4" config-ref="Email_SMTP" fromAddress="#[Mule::p('smtp.user')]" subject='#["[CORONAIS] Daily Report " ++ now() as String {format: "y-MM-d"}]' toAddresses="#[Mule::p(&quot;smtp.receivers&quot;) splitBy(',')]">
			<email:body contentType="text/html" >
			</email:body>
		</email:send>
		<logger level="INFO" doc:name="Logger" doc:id="5f5e9a38-f2f9-4c56-9863-cdae8ebc0e30" message="automated:reportDailyStatsEmail"/>
	
</flow>
	<flow name="handlePatientEndOfIsolation" doc:id="2823d81e-21a2-4f32-99ee-0f0239ed1cbc" >
		<scheduler doc:name="Every day at 00:00" doc:id="d855d9de-6586-4fa2-b79c-1bc8639b4439" >
			<scheduling-strategy >
				<cron expression="0 0 0 1/1 * ? *" timeZone="Europe/Belgrade" />
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="SELECT patients [not in Isolation]" doc:id="9dd427b0-68a6-472a-b33f-2031f8c99af2" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT state_issued_id,
 start_of_isolation,
 isolation_days,
 full_name,
 departure_region_code,
 has_symptoms,
 phone_number,
 hospital_id,
 citizenship
FROM Patient
WHERE DATE_ADD(start_of_isolation, INTERVAL isolation_days DAY) <= current_date();]]></db:sql>
		</db:select>
		<choice doc:name="Choice" doc:id="53182e3f-90c9-422f-94fa-065006a1a15f" >
			<when expression="#[!isEmpty(payload)]">
				<set-variable value="#[payload.&amp;state_issued_id]" doc:name="Set Patient ids to vars.idsToDelete" doc:id="2f337199-9147-45ed-ae59-735361cee06f" variableName="idsToDelete" />
				<db:bulk-insert doc:name="BULK INSERT PatientHistory" doc:id="d0e01488-5218-43c6-92ab-9528bca6f4d7" config-ref="Database_Config">
			<db:bulk-input-parameters><![CDATA[#[output application/java
---
payload]]]></db:bulk-input-parameters>
			<db:sql><![CDATA[INSERT INTO PatientHistory
(state_issued_id,
 start_of_isolation,
 isolation_days,
 full_name,
 departure_region_code,
 has_symptoms,
 phone_number,
 hospital_id,
 citizenship)
VALUES (:state_issued_id,
 :start_of_isolation,
 :isolation_days,
 :full_name,
 :departure_region_code,
 :has_symptoms,
 :phone_number,
 :hospital_id,
 :citizenship)]]></db:sql>
		</db:bulk-insert>
				<db:bulk-delete doc:name="BULK DELETE Patients" doc:id="62858e3f-6df7-4caf-94b2-302f47334517" config-ref="Database_Config">
			<db:bulk-input-parameters><![CDATA[#[vars.idsToDelete]]]></db:bulk-input-parameters>
			<db:sql><![CDATA[DELETE FROM Patient WHERE state_issued_id = :state_issued_id;
]]></db:sql>
		</db:bulk-delete>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No Patients message logger" doc:id="711c9bba-ca40-4523-be68-e884f09d1447" message="No Patients are moved out of isolation" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="3fabe400-41a8-4c12-bbfb-b5cb92e67af4" message="automated:handlePatientEndOfIsolation" />
	</flow>

</mule>
